/* src/index.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color:antiquewhite;
 
}
.botones{
    display: flex;
    flex-direction: column;
    
}

/* src/Button.css */

button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    background-color: #ff6347; /* Tomato color */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #ff4500; /* Darker tomato color */
    transform: translateY(-2px);
  }
  
  button:active {
    background-color: #c14432; /* Even darker tomato color */
    transform: translateY(0);
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 99, 71, 0.5);
  }
  



  
  
  